# BlakeBitcoin mainnet bootstrap example.
# Run from contrib/linearize after a local, non-pruned node is fully synced.

datadir=/home/example/.blakebitcoin
host=127.0.0.1
port=8243

min_height=0
max_height=2556414

netmagic=f9bca7b7
genesis=000000dcb4434e2148558a0a5c71e5c06d864accef97d75ac1c031405deb3371
input=/home/example/.blakebitcoin/blocks

hashlist=hashlist.txt
output_file=/home/example/blakebitcoin-bootstrap-2556414.dat

out_of_order_cache_sz=100000000
rev_hash_bytes=False
file_timestamp=0
split_timestamp=0
debug_output=False
